# Pastas de ambiente e cache
venv/
__pycache__/
.pytest_cache/

# Arquivos de ambiente (Escondendo os segredos)
.env
.env.docker
.env.example

# Git e GitHub Actions
.git/
.github/
.gitignore

# Testes e Qualidade de Código (Não vão para produção)
.coverage
coverage.xml
test_app.py
sonar-project.properties

# Scripts locais e Docs
docs/
resgate.py

# Arquivos do próprio Docker (O contêiner não precisa orquestrar a si mesmo)
Dockerfile
docker-compose.yml
.dockerignore