# Variáveis de Ambiente e Segredos
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Ambientes Virtuais (VITAL para não subir bibliotecas)
venv/
.venv/
env/

# Banco de Dados Local (Não queremos subir o banco de testes)
*.sqlite
*.sqlite3
*.db
instance/

# Pastas de IDE e SO (Opcional, mas recomendado)
.vscode/
.idea/
.DS_Store

# Arquivos de estudo e backup
docs/
resgate.py