name: CI - Code Quality & Security

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main

jobs:
  sonarcloud:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        # Usando o Hash seguro para a action checkout v4.2.2
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          fetch-depth: 0  

      - name: Configurar Python
        # Usando o Hash seguro para a action setup-python v4.7.0
        uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
        with:
          python-version: '3.11.9' 

      - name: Instalar dependencias e rodar os testes
        env:
          AMBIENTE_DE_TESTE: 'True'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov
          pytest --cov=. --cov-report=xml

      - name: Análise Estática com SonarCloud
        # Este é o Hash da versão v5.0.0 da Action, que já possui o Java 21 embutido!
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}  
          SONAR_HOST_URL: "https://sonarcloud.io" 
        with:
          args: >
            -Dsonar.qualitygate.wait=true